.event-box, .input-stuff{
    margin: 20px;
    border: solid 2px black;
    width: 15%;
    padding: 10px;
}

.eventH{
    margin-right: 10px;
    margin-bottom: 10px;
}
.more-info-button{
    width: 100%;
}