body{
    height: 1500px;
}
.parallax-container{
    height: 400px;
}
#searchButton{
    height: 100%;
    width: 95%;
    font-size: 1.25em;
}
#search{
    margin-top: 20px;
}
#parallaxImage{
    opacity: 1;
    height: 750px;
    margin-bottom: 125px;
}
#searchBar{
    margin-top: 20px;
    padding-left: 0;
}
#searchState{
    margin-top: 20px;
    padding-left: 0;
}
.input-field input[type=text]:focus{
    color: #039be5;
}
#searchButtonDiv{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
#paraHeader{
    margin-top: 250px;
    margin-left: 12px;
}
#paraHeaderText{
    margin-left:-1px;
}